<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>3P Phone</title>
        <link href="../static/BS/BS/css/bootstrap.min.css" rel="stylesheet">
        <script src="../static/BS/BS/js/bootstrap.bundle.min.js"></script>
        <style>
            img.logo {
                height: 100px;
                width: 100px;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <img src="../static/images/Trapphone.png" class="logo" alt="TrapPhone logo"/>
                    <a href="index.html">
                        <h1>3P Phone</h1>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
