{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Contratto Telefonico{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static '../static/js/script.js' %}"></script>
</head>
<body>
<div id="Alert" class="modal sfondoAlert" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content errore">
            <div class="modal-header titoloAlert">
                <h2 class="modal-title">ATTENZIONE!</h2>
            </div>
            <div class="modal-body contAlert">
                <p>Sei sicuro di voler definitivamente eliminare questo contratto?</p>
            </div>
            <div class="modal-footer pulsanti">
                <button type="button" id="confirmDelete" class="btn btn-outline-danger elimina">Elimina</button>
                <button type="button" class="btn btn-outline-secondary annulla" data-dismiss="modal"
                    onclick="document.getElementById('Alert').style.display='none'">Annulla</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <!-- Filtro di ricerca -->
        <form class="form-inline my-2 my-lg-0">
            <div class="form-group mb-3">
                <label for="numero_telefono">Numero di telefono:</label>
                <input type="tel" class="form-control" id="numero_telefono" pattern="[0-9]*{1,10}">
            </div>
            <div class="form-group mb-3">
                <label for="tipologia_contratto">Tipologia contratto:</label>
                <select class="form-control" id="tipologia_contratto">
                    <option value="" class="text-secondary">Qualsiasi tipologia</option>
                    <option value="a_ricarica">A ricarica</option>
                    <option value="a_consumo">A consumo</option>
                </select>
            </div>
            <div class="form-group mb-4">
                <label for="data_attivazione">Data di attivazione:</label>
                <input type="date" class="form-control" id="data_attivazione">
            </div>
            <div class="d-flex flex-column align-items-center">
                <button class="btn btn-outline-success mb-4 search-button" type="submit">Cerca</button>
                <button class="btn btn-outline-primary add-button" type="button" onclick="">Aggiungi nuovo contratto</button>
            </div>
           
            
        </form>
    </div>
    <div class="col-md-10">

        <div class="scrollable-table-container">
        <!-- Tabella dei contratti -->
        <table class="table table-striped table-spaced">
            <thead>
                <tr>
                    <th class="text-center">Numero</th>
                    <th class="text-center">Data Attivazione</th>
                    <th class="text-center">Tipo</th>
                    <th class="text-center">Minuti Residui</th>
                    <th class="text-center">Credito Residuo</th>
                    <th class="text-center">Telefonate</th>
                    <th class="text-center">SIM Attiva</th>
                    <th class="text-center">SIM Disattive</th>
                    <th class="text-center">Modifica</th>
                    <th class="text-center">Elimina</th>
                </tr>
            </thead>
            <tbody>
                <!-- Itera sui contratti -->
                {% for result in results %}
                <tr>
                    <td class="text-center">{{ result.Numero }}</td>
                    <td class="text-center">{% if result.DataAttivazione is not None %} {{ result.DataAttivazione }} {% endif %} </td>
                    <td class="text-center">{% if result.Tipo is not None %} {{ result.Tipo }} {% endif %}</td>
                    <td class="text-center">{% if result.MinutiResidui is not None %} {{ result.MinutiResidui }} {% endif %}</td>
                    <td class="text-center">{% if result.CreditoResiduo is not None %} {{ result.CreditoResiduo }} {% endif %}</td>
                    <td class="text-center">{% if result.Telefonate is not 0 %} <a href="{% url 'telefonata' %}?EffettuataDa={{ result.Numero }}">{{ result.Telefonate }}</a>{% else%} {{ result.Telefonate }} {% endif %}</td>
                    <td class="text-center">{% if result.SIMAttiva is not None %} {{ result.SIMAttiva }} {% endif %}</td>
                    <td class="text-center">{% if result.SIMDisattive is not None %} {{ result.SIMDisattive }} {% endif %}</td>
                    <td class="text-center"><a href=""> <img src="{% static 'images/pencil.png' %}" height=20px width=20px alt="Modifica" class="icona"/></a></td>
                    <td class='text-center'><a onclick="setEliminazione('{{result.Numero}}')">
                    <img src="{% static 'images/bin.png' %}" height=20px width=20px alt="Elimina" class="icona"/></a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="10" class="text-center">Nessun contratto trovato</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
{% endblock %}