{% extends 'base.html' %}

<!--contenuto dell'elemento <main>-->
{% block content %}
<div id="schermataEsito" class="row justify-content-center align-items-center h-100">
  <div class="col-auto text-center">
    <div id="contrattoEsito" class="alert alert-danger" role="alert">
      ATTENZIONE! Purtroppo esiste già un contratto con numero uguale a quello proposto. Si prega di scegliere un numero diverso!
    </div>
    <a id="backButton" href="{% url 'contrattoTelefonico' %}" class="btn search-button d-inline-flex justify-content-center align-items-center">Torna alla lista dei contratti</a>
  </div>
  
</div>

{% endblock %}