:root {
    --primary-color: #800000; /* Bordeaux */
    --secondary-color: #ffae90; /*Rosino in palette*/
    --background-color: #ecd9d9; /* Grigio chiaro */
    --text-color1: #333; /* Grigio scuro */
    --light-text-color: #9d7575; /*Grigio*/
    --accent-color: #e74c3c; /* Rosso */
    --white-color: #fbfcff; /* Bianco */
    --border-primary-color: #ccc;
    --border-secondary-color: #999;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --black-color: #0c0c0c; /*Black Oil*/
    --black-transparent-color: rgba(12, 12, 12, 0.4);
    --gradient-bg: linear-gradient(
      135deg,
      transparent,
      var(--primary-color),
      var(--secondary-color)
    ); /* Gradiente */
  }
header{
    background-color: var(--primary-color);
}
header h1{
    font-weight: 500 !important; 
}
/*eliminazione*/
.sfondoAlert {
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.errore {
    margin-top: -220px;
    animation: animatezoom 0.6s;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes animatezoom {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.titoloAlert {
    padding: 0;
}

.modal-dialog {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.modal-header h2 {
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    font-size: 2.2vw;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
}

.contAlert {
    padding-bottom: 0.2vw;
}

.modal-body p {
    margin-left: 3%;
    font-size: 1.2vw;
}

.pulsanti {
    padding: 0;
    border-top: none;
}

.nav-link:hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-link.active{
    border-bottom: 3px solid;
    border-color: var(--primary-color);
    color: var(--primary-color) !important;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* .btn {
    font-size: 1.2vw;
    padding: 1.5% 2%;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: white;
    margin-right: 2%;
    margin-bottom: 2%;
    font-weight: bold;
} */

/* .btn:hover {
    background-color: #ccc;
    border-color: #ccc;
    color: #fff;
    text-shadow: -0.8px 0 black, 0 0.8px black, 0.8px 0 black, 0 -0.8px black;

} */

.elimina{
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.elimina:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}




.form-control:hover{
    border: gray 1px solid;
    transition: ease-in-out 0.2s;
}
.search-button,
.add-button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 10px;
  padding: 0.8em 1.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;

  &:hover,
  &:focus {
    color: var(--white-color);
    outline: 0;
    background-color: transparent;
    border-color: unset;
  }
}

.add-button {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px var(--primary-color) inset;
  }
}

.search-button {
  border: 2px solid var(--primary-color);
  color: var(--white-color);
  box-shadow: 0 0 30px 30px var(--primary-color) inset,
    0 0 0 0 var(--primary-color);
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 3px 0 var(--primary-color) inset,
      0 0 3px 1px var(--primary-color);
    color: var(--primary-color);
  }
}

.icona{
    color: var(--primary-color);
}

.scrollable-table-container {
    max-height: 400px; /* Imposta l'altezza massima desiderata */
    overflow-y: auto; /* Abilita lo scorrimento verticale */
    border: 1px solid #dee2e6; /* Aggiunge un bordo al contenitore per la tabella */
    border-radius: 0.5rem; /* Aggiunge angoli arrotondati al contenitore della tabella */
}
.scrollable-table-container::-webkit-scrollbar{
    display: none;
}
.table thead th {
    position: sticky;
    top: 0; /* Fissa l'intestazione in alto */
    color: var(--white-color);
    background-color: var(--primary-color); /* Colore di sfondo dell'intestazione */
    z-index: 1; /* Assicura che l'intestazione sia sopra il corpo della tabella */
}

#tabellaContratto th, 
#tabellaContratto td {
    width: 10%;
}

#tabellaSIM th,
#tabellaSIM td,
#tabellaTelefonata th,
#tabellaTelefonata td {
    width: calc(100%/6);
}

footer{
    background-color: var(--primary-color);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: red; /* Cambia il colore di sfondo delle righe dispari */
}

.rowEven {
    background-color: var(--background-color);
  }
  
.rowOdd {
    background-color: var(--white-color);
  }